/* -------------------- GLOBAL -------------------- */

:root {
    --textcolor: rgb(100, 100, 100);
    --backdropcolor: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Bilo", sans-serif;
    color: var(--textcolor);
}

header {
    width: 100vw;
    height: 100vh;
    background-color: var(--backdropcolor);
}


/* -------------------- INDEX -------------------- */

.main {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main ul {
    list-style-type: none;
    font-size: 2em;
    font-weight: bold;
}

.main ul li {
    padding: 0.8em;
    text-align: center;
}

.main ul li a {
    text-decoration: none;
    color: var(--textcolor);
    position: relative;
}

.main ul li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.16em;
    bottom: -0.3em;
    background-color:var(--textcolor);
    transition: all 0.3s ease-in-out;
}

.main ul li a:hover:before {
    width: 100%;
}

/* -------------------- PAGES -------------------- */

.scroll {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10vw;
}

.box {
    max-height: 80vh;
    min-height: 80vh;
    max-width: 45vw;
    min-width: 45vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10vh 5vw;
    scroll-snap-align: start;
    transition: 0.3s;
}

.box img {
    width: 100%;
    height: 100%;
}

.container div {
    display: flex;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text h1 {
    font-size: 3em;
}

.text p {
    padding-top: 1em;
    font-size: 1.2em;
}

.design {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5em;
    background-color: var(--textcolor);
}

.design h1 {
    color: var(--backdropcolor);
}